$mainColor: #f9f9f9;
$secondaryColor: #f5f4f9;
$mainFontColor: #38393d;
$secondaryFontColor: #8c8f94;
$thirdFontColor: #cecece;
$mainIconColor: #207df6;

.article-first {
  margin-top: 75px;
  margin-bottom: 75px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: $mainFontColor;
  font-size: 20px;
}

.article-first-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.article-first-icon {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 70px;
  color: $mainIconColor;
}

@media all and (max-width: 768px) {
  .article-first {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 530px) {
  .article-first {
    grid-template-columns: 1fr;
  }
}
